.body {
    background: rgb(255, 255, 255);
  }
  
  .box{
    padding: 10px;
    background: rgb(255, 255, 255);
    margin-top:50px;
    margin-left:5px;
    margin-right:5px;
    margin-bottom:20px;
    align-content: center;
  }
  
  .navbar {
    margin-right: 0px;
    margin-left: 0px;
    padding: 15px;
    background: rgb(31, 17, 68);
  }
  
.navbar-brand {
  color: white;
  font-size: 20px;
}

.nav-link {
  color: white;
  font-size: 18px;
}

  .navbar li {
    display: d-block;
    padding: 8px;
    margin-right: 0px;
    margin-left: 0px;
    cursor: pointer;
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 22px;
  }
  
  p{
      font-size: 15px;
  }
  
    @media (max-width: 700px) {
    .navbar li {
      padding: 8px;
    }
    .box {
      margin-right: 22px;
      margin-left: 22px;
    }
    .navbar ul {
      visibility: visible;
    }
    #nav-select {
      visibility: visible;
    }
  }

 